* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    overflow: scroll;
  }
  
  
  .quiz{
    width: 90%;
    height:auto;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    background-color: #f1decf;  
    padding: 5px
  }

  .question{
    color: #2b3d50;
    font-size: 20px;
    padding-left: 30px
  }

  .answerlist{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding-left: 40px;
      padding-top: 10px;
      list-style-type: none;
}

.answerlist ul{
    list-style-type: none;
  }

  .forminputquestions{
    width: 100%;
    height: 30px;
    font-size: 18px
  }

  .forminputanswers{
    width: 500px;
    height: 30px;
    font-size: 18px
  }

  .updatebutton a {
    float: center;
    color: white;
    background-color: #39516A;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 2px white solid;
    border-radius: 15px;
    width: 175px;
  }
  
  .updatebutton a:hover {
    background-color: #9CB2CA;
    color: black;
  }
  
  .updatebutton a.active {
    background-color: #4caf50;
    color: black;
  }