@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.bar{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: #667b81;
    
}

h2{
    margin: 0;
}

.logoimg{
    height: 60px;
}

.headertitle{
    padding-left: 10px;
    padding-top: 2px;
    color: #f5e5da !important;
    font-family: 'Orelega One', cursive;
    text-align: left;
    font-size: 27px;
    max-height: 50px;
}

.headertitle h2{
    width: 400px
}



.headertitle a{
    text-decoration: none;
    color: #f5e5da !important;
    width: 400px;
    margin: 0;
}


.logout{
    float: right;
    margin: 0;
}

.logout a{
    text-decoration: none;
    color: #f5e5da !important;
    margin: 0;
    padding-right: 20px;
    font-size: 20px;

}
