@import url('https://fonts.googleapis.com/css?family=Parisienne|Prata|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto+Slab:wght@500&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: scroll;
}


.quizlist{
  width: 90%;
  height:auto;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  background-color: #e2c8b6;  
}

.title{
  height: 100px;
  width: 100%;
}

.category{
  height: 30px;
  width: 100%;
  margin-top: 50px;
  margin-left: 12px;
  color: #2b3d50;
}

.cardlist{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  width: 100%;
  place-self: center;
  margin-left: 20px;
}

.quizcard{
  margin: 15px;
  place-self: center;
}

.quizcard img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  place-self: center;
}

.quizcard button{
  border-radius: 0px 0px 10px 10px;
  width: 300px;
  height: 40px;
  margin-top: 0;
  padding-top:0;
  background-color: #39516A;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  place-self: center;
}

