@import url('https://fonts.googleapis.com/css?family=Parisienne|Prata|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Yellowtail', cursive; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #faa7a1 , #e06c62);
}

h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  color: #2b3d50;
  text-align: center;
}

.colourboxes{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
}

.darkbluecontainer{
  display: flex;
  align-items: flex-end;
  background-color: #39516A;
  width: 800px;
  height: 520px;
}
.lightbluecontainer{
  display: flex;
  align-items: flex-end;
  background-color: #799CA7;
  width: 750px;
  height:460px;
  box-shadow: border 5px 5px black;
}


.logincontainer{
  background-color: #EDD6C6;
  width: 700px;
  height:400px;
}

